body{
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  color: #111111;

}
h1,
h2,
h3,
h4,
ul,
p,
blockquote,
dd
{
  margin: 0;
}
ul{

  padding: 0;
  list-style: none;
}
a{
  text-decoration: none;
  color:inherit
}
img{
  max-width: 100%;
  display: block;
  height: auto;
}
img[src$=".jpg"]{
  border-radius: 4px;
}
.fadeInDown {
  transform: translate3d(0, -20px, 0);
}
.fadeInUp {
  transform: translate3d(0, 20px, 0);
}
.fadeInRight {
  transform: translate3d(20px, 0, 0);
}
.fadeInLeft {
  transform: translate3d(-20px, 0, 0);
}

/* 7 Adicione o CSS Essencial abaixo */
[data-anime] {
  opacity: 0;
}
.anime {
  opacity: 1;
  transform: none;
  transition: transform 0.8s, opacity 0.8s;
}