.tecnologia-bg{
  background-color: var(--cor-11);
  /* o inset vale pelo top */
  box-shadow: inset 0px 80px var(--cor-0), inset 0px -80px var(--cor-0);
}

.tecnologia{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.tecnologia-imagem img{
  width: 100%;
  height: 100%;
  /* O conteúdo é dimensionado para manter sua proporção e preencher toda a caixa */
  object-fit: cover;
  object-position: left;
}

.tecnologia-conteudo{
  padding-top: 160px;
  padding-bottom: 160px;
}

.tecnologia-conteudo > span{
  display: block;
  margin-bottom: 20px;
}

.tecnologia-conteudo h2 {
  margin-bottom: 2rem;
}

.tecnologia-conteudo > p {
  margin-bottom: 20px;
}

.tecnologia a {
  margin-bottom: 80px;
}

.tecnologia-vantagens{
  display: flex;
  gap: 40px;
}

.tecnologia-vantagens h3{
  /* não vai quebrar o titulo para duas linhas */
  margin-bottom: 8px;
  width: max-content;
}

.tecnologia-vantagens img{
  width: 24px;
  margin-bottom: 8px;
}

@media (max-width: 800px){
  .tecnologia-bg{
    box-shadow: initial;
  }
  .tecnologia{
    grid-template-columns: 1fr;
  }
  .tecnologia-conteudo{
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .tecnologia img{
    display: none;
  }

}