
.container{
  box-sizing: border-box;
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
/* button */
.botao{
  display: inline-block;
  padding: 16px 32px;
  background: linear-gradient(#ffbf00, #f2a50c);
  border-radius: 4px;
  box-shadow: o 1px 2px rgba(0,0,0, 0.1);
  text-transform: uppercase;
  color: #332200;
  font-size: 18px;
  line-height: 1.33;
  font-family: "Poppins";
  font-weight: 600;
  /* tamanho maximo declarado aque sem q o grid interfira */
  max-width: max-content;
  border: none;
  cursor: pointer;
}

.botao.seta {
  display: flex;
  align-items: center;
}

.botao.seta::after{
  content: "";
  display: inline-block;
  width: 18px;
  height: 10px;
  margin-left: 12px;
  background: url(../../img/icones/seta.svg);
}

.botao.secundario{
  background: var(--cor-10);
  color: var(--cor-2);
}
.botao.secundario:hover{
  background: var(--cor-12);
}

.botao:hover{
  background: linear-gradient(#ffb60d, #e59317);
}

@media (max-width: 800px){
  .botao{
    padding: 12px 16px;
    font-size: 16px;
  }
}

.link{
  display: inline-block;
  color: var(--cor-p1);
  font: 500 1.5rem/1.5 "Poppins", sans-serif;
  text-transform: uppercase;
}

.link::after{
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: currentColor;
}
.link:hover {
  color: var(--cor-0);
}


/* termos */
.titulo-bg {
  padding-bottom: 60px;
  padding-top: 40px;

  background-color: var(--cor-11);
}

.titulo {
  background: url(../../img/dec/top-right.svg)
  no-repeat top right 20px;
}

.titulo p{
  margin-bottom: 4px;
}

@media(max-width:800px){
  .titulo-bg{
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .titulo p {
    font-size: 1rem;
    text-transform: lowercase;
    font-weight: 400;
  }
}